# action
results/
.lighthouseci/

# ts artifcats
node_modules/**/*.ts
node_modules/**/*.d.ts

# dev dependencies
node_modules/.yarn-integrity
node_modules/.bin
node_modules/@types/
node_modules/prettier/
node_modules/typescript/