name: LHCI-assert-on-budget
on: push
jobs:
  # This pass/fails a build with a budgets.json.
  assert-on-budget:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Lighthouse on urls and validate with budgets.json
        uses: ./
        with:
          urls: 'https://treo.sh/'
          budgetPath: '.github/lighthouse/budget.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
