name: LHCI-static-dist-dir
on: push
jobs:
  # This is a run that targets static files using static-dist-dir.
  static-dist-dir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Lighthouse against a static dist dir
        uses: ./
        with:
          # no urls needed, since it uses local folder to scan .html files
          configPath: '.github/lighthouse/lighthouserc-static-dist-dir.yml'
