name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use node 12
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: yarn install
      - run: yarn test
